header{
  .logo{
    img{
      width: 150px;
    }
  }
  .navigation{
    padding-top: 31px;
  }
  .search{
    padding: 25px;
  }
  .tools{
    padding-top: 31px;
   .pi{
     margin-right: 10px;
   }
  }
}
